.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    border: 1px solid green;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
}

.crystal:hover{
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 1s;
}

h1 {
    background-color: coral;
    color: white;
    font-weight: bolder;
    width: 300px;
    height: 60px;
    margin: 10px 5px;
    text-align: center;
    font-size: 36px;
    padding: 20px 0 0 1px;
}

.header {
    display: inline-block;
}

.instructions {
    background-color: burlywood;
    color: green;
    font-weight: bold;
    width: 400px;
    height: 350px;
    margin: 0 0 10px 5px;
    text-align: justify;
    line-height: 1.5rem;
    padding: 15px 5px 50px 2px;
}

.numberBox {
    height: 100px;
    width: 70px;
    margin: 0 0 10px 5px;
    padding: 0 0 0 5px;
    background-color: turquoise;
    float: left;
}

#randomNumber {
    background-color: lightgreen;
    font-size: 30px;
    font-weight: bold;
    color: darkmagenta;
    height: 100px;
    width: 200px;
    margin: 0 0 10px 5px;
    padding: 0 0 0 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.count {
    background-color: seagreen;
    color: white;
    height: 100px;
    width: 200px;
    margin: 0 0 10px 5px;
    font-size: 30px;
    padding: 5px 0 5px 5px;
}

.scoreHeader{
    background-color: seagreen;
    color: white;
    width: 200px;
    margin: 0 0 10px 5px;
    padding: 5px 0 5px 5px;
}

p {
    margin: 10px 0;
}

img {
    width 50px;
}

body {
    background-image: 
}
